@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
$mainColor: #e5206e;
$secondColor: #fabb27;

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  // width: 100%;
}

a,
button {
  text-decoration: none !important;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#floating {
  position: fixed;
  z-index: 1;
  width: 65px;
  height: 65px;
  line-height: 70px;
  text-align: center;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba($color: #000000, $alpha: 16%);
  opacity: 0;
  z-index: 999;
  transition: all 0.5s;
  i {
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
}

.iMenue {
  transform: rotate(-90deg);
  // @extend %transition;
}

.splash.displayNone {
  visibility: hidden;
  opacity: 0;
}

.splash {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999999;
  text-align: center;
  padding: 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash img {
  display: inline-block;
  margin-bottom: 100px;
  max-width: 255px;
  width: auto;
}

.splash .loadProgress {
  width: 400px;
  background-color: #e5e5e5;
  height: 10px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

@media (max-width: 480px) {
  .splash .loadProgress {
    width: 280px;
  }
}

.splash .loadProgress .lineStyle {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;

  background-color: #25a1a5;
  -moz-animation: move-progress 3s linear infinite;
  -ms-animation: move-progress 3s linear infinite;
  -o-animation: move-progress 3s linear infinite;
  -webkit-animation: move-progress 3s linear infinite;
  animation: move-progress 3s linear infinite;
}

@keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes move-progress {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-moz-keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@-ms-keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.sidenav {
  height: 100%;
  width: 300px;
  max-width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: -400px;
  background-color: #fff;
  box-shadow: 0 22px 22px rgba($color: #000000, $alpha: 5%);
  overflow-x: hidden;
  padding: 0 20px;
  padding-top: 30px;
  transition: 0.5s;
  text-align: center;
  padding-bottom: 10px;

  .navItem {
    margin-bottom: 20px;
    text-align: right;
    display: block;

    &:last-child {
      background-color: $mainColor;
      width: 190px;
      text-align: right;
      height: 44px;
      line-height: 44px;
      float: right;
      .navLink {
        color: #fff;
      }
      i {
        width: 30px;
        height: 30px;
        background-color: #fff;
        color: $mainColor;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        margin-right: 5px;
      }
    }
  }
  .navLink {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #002543;
    transition: 0.3s;
    padding-right: 16px;
    &:hover {
      color: $mainColor;
    }
  }

  .closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    // margin-left: 50px;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid $mainColor;
      color: $mainColor !important;
      line-height: 37px;
      // @extend %transition;
    }
  }
  .logo {
    width: auto;
    max-width: 205px;
    margin-bottom: 29px;
    margin-top: 39px;
    // padding: 10px;
  }

  .NesteListParent {
    position: relative;
    i {
      position: absolute;
      left: 10px;
      color: $mainColor;
      margin-top: 5px;
      font-size: 14px;
    }
  }

  .sideMenue {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding-right: 0;
    display: none;
    li {
      // padding-right: 10px;
      display: block;
      a {
        position: relative;
        display: block;
        font-size: 15px;
        padding-right: 0;
        padding-right: 20px;
        // @extend %spcfies-number-of-line;
        color: #002543;
        font-weight: 200;
        margin-bottom: 20px;
        &::before {
          position: absolute;
          content: "\f10a";
          right: 0;
          top: calc(100% - 17px);
          @extend %inilize-ui-icons;
          color: $mainColor;
        }
      }
    }
  }
  .social {
    text-align: center;
    line-height: 33px;
    a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      i {
        color: #002060;
      }
    }
  }
  .lang {
    margin-top: 10px;
    .spanLabel {
      font-size: 14px;
      font-weight: 200;
    }
    .nice-select {
      float: none;
      display: inline-block;
      border: 0;
      // padding: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-weight: bold;
      color: #002060;
      font-size: 14px;
      height: 33px;
      line-height: 33px;
    }
  }
}

.openMenuActive {
  height: 100vh;
  overflow: hidden;
  // display: none;
}

.bg-sidenavOpen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 50%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.slider-item {
  &:focus {
    outline: 0 !important;
  }
}

.form-control {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border: 1px solid $mainColor;
  }
}

.slick-next,
.slick-prev {
  z-index: 10;
}

.topheader {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  .lang {
    .spanLabel {
      font-size: 14px;
      font-weight: 200;
    }
    .nice-select {
      float: none;
      display: inline-block;
      border: 0;
      // padding: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-weight: bold;
      color: #002060;
      font-size: 14px;
      height: 33px;
      line-height: 33px;
    }
  }

  .social {
    text-align: right;
    line-height: 33px;
    border-left: 1px solid #ddd;
    a {
      display: inline-block;
      margin-left: 21px;
      i {
        color: #002060;
      }
    }
  }
  .topheader-links {
    text-align: right;
    ul {
      margin-bottom: 0;
      margin-top: 5px;
    }
    li {
      display: inline-block;
      margin-left: 24px;
      a {
        color: #002543;
        font-size: 14px;
      }
    }
  }
}

.mynavbar {
  padding-top: 10px;
  // padding-bottom: 20px;
  // line-height: 86px;
  // height: 86px;
  .openSideMenue {
    display: none;
  }
  .logo {
    // display: inline-block;
    float: left;
    img {
      // max-height: 50px;
      max-width: 220px;
      width: auto;
      height: auto;
    }
  }
  .nav-list {
    float: right;
    line-height: 97px;
    margin-bottom: 0;
    .navItem {
      display: inline-block;
      margin-left: 30px;
      .navLink {
        font-size: 16px;
        font-weight: 200;
        color: #002543;
      }
      &:last-child {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        width: 169px;
        text-align: center;
        height: 44px;
        line-height: 44px;
        @extend %transition;
        .navLink {
          color: #fff;
          display: block;
        }
        i {
          width: 30px;
          height: 30px;
          background-color: #fff;
          color: $mainColor;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          @extend %transition;
        }
        &:hover {
          background-color: #fff;
          .navLink {
            color: $mainColor;
          }
          i {
            background-color: $mainColor;
            color: #fff;
          }
        }
      }
    }
    .openSideMenue {
      display: none;
    }
    .NesteListParent {
      position: relative;
      cursor: pointer;
      &:hover .sideMenue {
        visibility: visible;
        opacity: 1;
        transform: translateY(-10px) !important;
      }
      &::after {
        @extend %inilize-ui-icons;
        content: "\f10f";
        cursor: pointer;
        color: #002543;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .sideMenue {
      width: 224px;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      background-color: #fff;
      // padding-bottom: 15px;
      // padding-top: 15px;
      border-radius: 10px;
      @extend %transition;
      z-index: 99999;

      box-shadow: 0 12px 30px rgb(80 143 244 / 10%);
      li {
        height: 60px;
        line-height: 60px;
        display: block;
        margin-bottom: 10px;
        padding-left: 10px;
        @extend %transition;
        a {
          display: block;
          line-height: 60px;
          padding-right: 25px;
          color: #002543;
          font-weight: 200;
          @extend %transition;
          @extend %spcfies-number-of-line;
          width: 95%;
        }
        &:hover {
          background-color: $mainColor;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.fixed-navbar {
  box-shadow: 0 2px 45px rgba($color: #000000, $alpha: 5%);
  transition: all 0.5s ease-in-out !important;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.navbarNewsDetails {
  box-shadow: 0 51px 55px rgb(60 62 70 / 5%);
}

.header-slider {
  position: relative;
  .slider-item {
    padding-top: 195px;
    padding-bottom: 273px;
    @extend %img-bg-style;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color: #0a0b0a, $alpha: 59%);
      z-index: -1;
    }
    .header-content {
      text-align: center;
      h5 {
        position: relative;
        z-index: 9;
        user-select: all !important;
        font-size: 38px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
      }
      p {
        font-size: 16px;
        color: #fff;
        width: 405px;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 18px;
        position: relative;
        z-index: 9;
      }
      a {
        width: 144px;
        height: 44px;
        border: 1px solid #fff;
        color: #fff;
        display: inline-block;
        margin: 5px;
        line-height: 44px;
        font-size: 16px;
        font-weight: normal;
        position: relative;
        @extend %transition;
        z-index: 9;
        &:hover {
          background-color: #fff;
          color: #0a0b0a;
        }
      }
      a:last-child {
        background-color: #fff;
        color: #0a0b0a;
        @extend %transition;
        &:hover {
          background-color: transparent;
          color: #fff;
        }
      }
    }
    &:focus{
      outline: 0 !important;
    }
  }
  .slider-nav-con {
    position: absolute;
    bottom: 0;
    .item {
      cursor: pointer;
      .slider-nav-content {
        text-align: left;
        position: relative;
        .slider-number {
          font-size: 52px;
          font-weight: bold;
          opacity: 36%;
          color: #707070;
        }
        p {
          padding-left: 60px;
          font-size: 14px;
          width: 268px;
          max-width: 100%;
          margin-top: 6px;
          color: #fff;
        }
        img {
          position: absolute;
          left: 0;
          width: 54px;
          height: 54px;
        }
        .card-body {
          border-top: 3px solid #fff;
          transition: all 0.5s linear;
        }
      }
      &:focus{
        outline: 0 !important;
      }
    }
    .slick-current {
      .slider-nav-content {
        .slider-number {
          color: #fff;
          opacity: 1;
        }
        .card-body {
          border-color: $mainColor;
        }
      }
    }
  }
  .slick-track{
    transform: none !important;
  }
}

.overview {
  padding-top: 97px;
  .container {
    position: relative;
  }
  .overview-img {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .over-content-1 {
    h5 {
      font-size: 16px;
      color: #e5206e;
      margin: 0;
      margin-bottom: 14px;
      font-weight: 600;
    }
    p {
      color: #002543;
      font-size: 27px;
      font-weight: bold;
    }
  }
  .over-content-2 {
    margin-top: 40px;
    p {
      font-size: 14px;
      line-height: 25px;
      color: rgba($color: #002543, $alpha: 50%);
      width: 524px;
      max-width: 100%;
    }
  }
}

.why-join {
  background-color: #0a0b0a;
  margin-top: 219px;
  padding-bottom: 17px;
  // padding-top: 9px;
  text-align: center;
  position: relative;
  .over-img {
    margin-top: -260px;
    @extend %img-bg-style;
    height: 297px;
  }
  .section-header {
    margin-top: 110px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    position: relative;
    z-index: 8;
    h5 {
      font-size: 117px;
      font-weight: bolder;
      text-transform: uppercase;
      color: #0a0b0a;
      margin: 0;
      text-shadow: -1px 0 #707070, 0 1px #707070, 1px 0 #707070, 0 -1px #707070;
      opacity: 45%;
    }
  }
  h5 {
    margin-top: 86px;
    position: relative;
    z-index: 9;
    color: $mainColor;
  }
  p {
    position: relative;
    z-index: 9;
    color: #fff;
    font-size: 14px;
    width: 524px;
    margin: auto;
    margin-top: 31px;
    line-height: 25px;
  }
}

.features {
  @extend %img-bg-style;
  padding-top: 56px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(#0a0b0a, 100%),
      rgba(#0a0b0a, 70%),
      rgba(#0a0b0a, 50%)
    );
  }
  .card-left {
    .card-feature {
      float: left;
    }
  }
  .card-right {
    .card-feature {
      float: right;
    }
  }
}
.card-feature {
  position: relative;
  z-index: 9;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 33px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 24px;
  position: relative;
  margin-bottom: 70px;
  width: 350px;
  height: 310px;
  @extend %transition;
  &:before {
    content: "";
    width: 245px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:after {
    content: "";
    width: 25px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .number {
    position: absolute;
    width: 60px;
    height: 71px;
    font-size: 52px;
    color: #fff;
    font-weight: bold;
    top: -45px;
    left: 35px;
    background-color: transparent;
    z-index: 10;
    @extend %transition;
  }
  h5 {
    font-size: 28px;
    color: $mainColor;
    width: 190px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 14px;
  }
  .pigLabel {
    width: 350px;
    max-width: 100%;
  }
  p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
  }
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 16%);
    .number {
      color: $mainColor;
    }
  }
}

.webinars {
  background-color: #f8f8f8;
  padding-top: 61px;
  padding-bottom: 120px;
  position: relative;
  .world-header {
    font-size: 149px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #f8f8f8;
    text-shadow: -1px 0 #e5206e, 0 1px #e5206e, 1px 0 #e5206e, 0 -1px #e5206e;
    position: absolute;
    left: -333px;
    transform: rotate(270deg);
    top: 304px;
  }
  .section-header {
    text-align: center;
    margin-bottom: 30px;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: $mainColor;
      margin: 0;
      margin-bottom: 15px;
      position: relative;
      z-index: 5;
    }
    p {
      font-size: 28px;
      color: #002543;
      font-weight: bold;
      margin: 0;
      width: 570px;
      max-width: 100%;
      margin: auto;
      position: relative;
      z-index: 5;
    }
  }
  .slider-item {
    padding-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .slick-dots {
    margin-bottom: 20px;
  }
  .slick-dots li {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ebebeb;
    transition: all 0.3s;
    margin-right: 1.5px;
    margin-left: 1.5px;
  }
  .slick-dots li button {
    visibility: hidden;
  }
  .slick-dots .slick-active {
    width: 11px;
    height: 11px;
    background-color: $mainColor;
    display: inline-block;
  }
}
.webinars-card {
  background-color: #fff;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 16%);
  .date {
    i {
      color: #7f92a1;
    }
    span {
      color: #7f92a1;
      font-size: 14px;
      margin-right: 10px;
    }
  }
  .card-title {
    font-size: 24px;
    color: $mainColor;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .card-text {
    font-size: 14px;
    color: #7f92a1;
    margin-bottom: 15px;
  }
  h6 {
    font-size: 14px;
    margin-bottom: 7px;
    color: #0a0b0a;
  }
  ul {
    padding: 0;
    margin-bottom: 39px;
    li {
      list-style: none;
      position: relative;
      font-size: 14px;
      padding-left: 20px;
      margin-bottom: 10px;
      &::before {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        background-color: $mainColor;
        border-radius: 50%;
        left: 0;
        top: 8px;
      }
    }
  }
  .link {
    text-align: right;
    a {
      text-decoration: none;
    }
    span {
      font-size: 14px;
      color: #000;
    }
    i {
      display: inline-block;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px solid $mainColor;
      line-height: 56px;
      text-align: center;
      color: $mainColor;
      font-size: 20px;
      margin-left: 5px;
    }
  }
}

.our-numbers {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
  @extend %img-bg-style;
  margin-top: -90px;
  .head-card {
    margin-top: 30px;
    h5 {
      font-size: 18px;
      color: #fff;
      font-weight: 600;
    }
    p {
      color: $mainColor;
      font-size: 28px;
      font-weight: bold;
      line-height: 32px;
    }
  }
  .card-number {
    text-align: center;
    span {
      font-size: 65px;
      font-weight: bold;
      color: #fff;
    }
    h6 {
      color: #fff;
      margin: 0;
      font-size: 16px;
    }
  }
}

.latest-news {
  margin-top: 75px;
  .section-header {
    text-align: center;
    margin-bottom: 58px;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: $mainColor;
      margin: 0;
      margin-bottom: 15px;
      position: relative;
      z-index: 5;
    }
    p {
      font-size: 28px;
      color: #002543;
      font-weight: bold;
      margin: 0;
      width: 570px;
      max-width: 100%;
      margin: auto;
      position: relative;
      z-index: 5;
    }
  }
  .view-more {
    text-align: center;
    margin-top: 40px;
    a {
      width: 143px;
      height: 44px;
      line-height: 44px;
      border: 1px solid $mainColor;
      background-color: $mainColor;
      color: #fff;
      display: inline-block;
      max-width: 100%;
      @extend %transition;
      &:hover {
        background-color: #fff;
        color: $mainColor;
      }
    }
  }
}

.news-card {
  box-shadow: 2px 0 15px rgba($color: #000000, $alpha: 16%);
  border-radius: 0;
  padding-top: 134px;
  padding-left: 25px;
  padding-right: 32px;
  padding-bottom: 32px;
  position: relative;
  .card-img {
    height: 172px;
    width: 318px;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: -32px;
    max-width: 100%;
  }
  .date {
    margin-top: 20px;
    margin-bottom: 9px;
    i {
      color: #707070;
    }
    span {
      color: #707070;
      font-size: 14px;
      margin-left: 5px;
    }
  }
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 9px;
    line-height: 22px;
  }
  .card-text {
    font-size: 14px;
    color: rgba(#000000, 50%);
    margin-bottom: 13px;
    line-height: 25px;
  }
  a {
    span {
      font-size: 14px;
      color: #000;
    }
    i {
      color: #e5206e;
      font-size: 14px;
      margin-left: 5px;
    }
  }
}

.sitelogo {
  text-align: center;
  margin-top: 100px;
  img {
    max-width: 220px;
  }
}

.site-footer {
  background-color: #0a0b0a;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 35px;
  h5 {
    margin: 0;
    font-size: 14px;
    color: #fff;
  }
}

.breadcrumb {
  @extend %img-bg-style;
  padding-top: 148px;
  padding-bottom: 110px;
  display: block;
  text-align: center;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#000000, 65%);
  }
  h5 {
    display: block !important;
    font-size: 39px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #fff;
    position: relative;
    z-index: 9;
  }
  ul {
    display: block !important;
    li {
      display: inline-block;
      position: relative;
      z-index: 9;
      position: relative;
      padding-left: 8px;
      padding-right: 8px;
      a {
        color: #fff;
      }
      &::after {
        content: "\f111";
        @extend %inilize-ui-icons;
        position: absolute;
        top: 5px;
        right: -10px;
        color: #fff;
      }
      &:first-child {
        a {
          position: relative;
          &::before {
            content: "\f1a3";
            @extend %inilize-ui-icons;
            color: $mainColor;
            margin-top: 2px;
            margin-right: 5px;
          }
        }
      }
      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

.latest-news-page {
  margin-top: 52px;
  .section-header {
    text-align: center;
    margin-bottom: 85px;
    h5 {
      font-size: 28px;
      font-weight: bold;
      color: #002543;
      width: 570px;
      max-width: 100%;
      margin: auto;
      line-height: 39px;
    }
  }
  .news-card {
    margin-bottom: 60px;
  }
}

.pagParent {
  // text-align: center;
  margin-top: 50px;
  position: relative;
  margin-bottom: 60px;
  .pageNumber {
    font-size: 175px;
    color: rgba(#002543, 5%);
    font-weight: bold;
    position: absolute;
    top: -120px;
    left: 140px;
  }
  .pageNumber-2 {
    left: unset;
    right: 140px;
  }
}
.pagination {
  // display: inline-block;
  // border: 1px solid #000;
  width: 34%;
  margin: auto;
  overflow: auto;
  li {
    // display: inline-block;
  }
  i {
    color: $mainColor;
    font-size: 15px;
  }
  .page-item {
    margin-left: 3px;
    margin-right: 3px;
    .page-link {
      text-align: center;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      color: #000;
      border: 1px solid $mainColor;
      font-weight: bold;
      line-height: 37px;
      padding: 0;
    }
    &:first-child {
      margin-right: 40px;
      position: relative;
      &::before {
        content: url("../images/line.png");
        // position: absolute;
        // left: 0;
        position: absolute;
        right: -36px;
        z-index: 9;
        top: 3px;
      }
    }
    &:last-child {
      margin-left: 40px;
      position: relative;
      &::before {
        content: url("../images/line.png");
        // position: absolute;
        // left: 0;
        position: absolute;
        left: -38px;
        z-index: 9;
        top: 3px;
      }
    }
  }
  .active {
    .page-link {
      background-color: $mainColor;
      color: #fff;
    }
  }
}

.breadlinks {
  margin-top: 50px;
  ul {
    display: block !important;
    li {
      display: inline-block;
      position: relative;
      z-index: 9;
      position: relative;
      padding-left: 8px;
      padding-right: 8px;
      a {
        color: #000;
        font-size: 14px;
      }
      &::after {
        content: "\f111";
        @extend %inilize-ui-icons;
        position: absolute;
        top: 5px;
        right: -10px;
        color: #000;
      }
      &:first-child {
        a {
          position: relative;
          &::before {
            content: "\f1a3";
            @extend %inilize-ui-icons;
            color: $mainColor;
            margin-top: 2px;
            margin-right: 5px;
          }
        }
      }
      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

.newsDetails-page {
  margin-top: 40px;
  .newsDetails-content {
    img {
      max-height: 396px;
    }
    .date {
      margin-top: 45px;
      margin-bottom: 24px;
      span {
        font-size: 14px;
        color: rgba(#002543, 50%);
      }
      i {
        color: rgba(#002543, 50%);
      }
    }
    .news-title {
      font-size: 32px;
      font-weight: bold;
      color: #002543;
      line-height: 42px;
      margin-bottom: 24px;
    }
    .news-text {
      font-size: 14px;
      color: rgba(#002543, 50%);
      line-height: 25px;
      font-weight: 600;
    }
    .matchworld {
      margin-top: 43px;
      margin-bottom: 58px;
      .row {
        .col-lg-6 {
          padding: 0;
        }
      }
      li {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 20px;
        a {
          border: 1px solid rgba(#7f92a1, 20%);
          padding: 10px;
          text-align: center;
          font-size: 12px;
          color: $mainColor;
          border-radius: 5px;
          @extend %transition;
          &:hover {
            background-color: $mainColor;
            color: #fff;
            border: 1px solid $mainColor;
          }
        }
      }
      span {
        font-size: 14px;
      }
      .social {
        a {
          color: #000;
          display: inline-block;
          margin-left: 10px;
          @extend %transition;
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
    .nextPrev {
      margin-bottom: 83px;
      .row {
        .col-lg-6 {
          // padding: 0
        }
      }
    }
    .nextprevcard {
      @extend %img-bg-style;
      position: relative;
      padding-top: 18px;
      padding-bottom: 15px;
      padding-left: 24px;
      padding-right: 24px;
      display: block;
      text-decoration: none;
      margin-bottom: 20px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, 50%);
      }
      .date,
      .title {
        position: relative;
        z-index: 9;
        i {
          position: relative;
          z-index: 9;
        }
        span {
          position: relative;
          z-index: 9;
        }
      }
      .link-arr {
        position: relative;
        z-index: 9;
        span {
          font-size: 11px;
          color: #fff;
        }
        i {
          color: $mainColor;
          font-size: 13px;
          margin-left: 5px;
          margin-top: 5px;
          display: inline-block;
        }
      }
      .date {
        margin: 0;
        margin-top: 70px;
        i {
          color: #fff;
        }
        span {
          color: #fff;
          font-size: 14px;
        }
      }
      .title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        margin-top: 16px;
        color: #fff;
        line-height: 22px;
      }
    }
    .prevCard {
      text-align: right;
    }
    .nextCard {
      text-align: left;
    }
  }
}

.pageSidebar {
  .search {
    box-shadow: 2px 0 15px rgba(#546777, 15%);
    padding: 32px 30px;
    .input-group {
      .form-control {
        height: 51px;
        border-right: 0;
        background-color: rgba(#647583, 7%);
        border-radius: 0;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border: 0;
        &:focus {
          outline: 0 !important;
          box-shadow: none !important;
          border: 0;
        }
        &::placeholder {
          font-size: 14px;
          color: rgba(#002543, 29%);
        }
      }
      .input-group-append {
        border-left: 0;
        margin-left: 0;
        .input-group-text {
          border: 0;
          height: 51px;
          line-height: 51px;
          background-color: rgba(#647583, 7%);
          border-left: 0;
          border-radius: 0;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
  .most-viewd {
    box-shadow: 2px 0 15px rgba(#546777, 15%);
    padding: 29px 26px;
    margin-top: 30px;
    .section-header {
      margin-bottom: 0;
      h5 {
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        padding-bottom: 20px;
        position: relative;
        &::after {
          content: "";
          width: 49px;
          height: 4px;
          background-color: $mainColor;
          left: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }
}
.mostv-card {
  position: relative;
  padding-left: 90px;
  border-bottom: 1px solid rgba(#7f92a1, 17%);
  padding-bottom: 17px;
  padding-top: 22px;
  display: block;
  .card-img {
    position: absolute;
    left: 0;
    img {
      width: 78px;
      height: 42px;
    }
  }
  .card-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    line-height: 19px;
    color: #000;
  }
  .date {
    i {
      color: $mainColor;
      font-size: 12px;
    }
    span {
      font-size: 12px;
      color: rgba(#002543, 50%);
    }
  }
}

.events-page {
  margin-top: 76px;
  margin-bottom: 160px;
  .webinars-card {
    margin-bottom: 30px;
  }
  .pagParent {
    margin-top: 100px;
  }
}

.sharePeers {
  .shareBreadCrumb {
    background-color: rgba(#124c86, 3%);
    padding-top: 34px;
    padding-bottom: 79px;
    ul {
      display: block !important;
      margin-bottom: 47px;
      li {
        display: inline-block;
        position: relative;
        z-index: 9;
        position: relative;
        padding-left: 8px;
        padding-right: 8px;
        a {
          color: #000;
        }
        &::after {
          content: "\f111";
          @extend %inilize-ui-icons;
          position: absolute;
          top: 5px;
          right: -10px;
          color: #000;
        }
        &:first-child {
          a {
            position: relative;
            &::before {
              content: "\f1a3";
              @extend %inilize-ui-icons;
              color: $mainColor;
              margin-top: 2px;
              margin-right: 5px;
            }
          }
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
    h5 {
      font-size: 65px;
      font-weight: bold;
      color: #0a0b0a;
    }
    p {
      color: rgba(#002543, 50%);
      font-size: 14px;
      line-height: 27px;
      margin-top: 20px;
    }
  }
}

.sheepPeersFormImg {
  margin-top: 35px;
  .rowParent {
    margin: 0;
  }
  .colsParent {
    padding: 0;
  }
  .sheepPeersForm {
    padding-left: 85px;
    .form-head {
      font-size: 14px;
      color: #002543;
      margin-bottom: 30px;
      span {
        font-weight: bold;
      }
    }
    .form-group {
      position: relative;
      label {
        position: absolute;
        background-color: #647583;
        font-size: 12px;
        color: #fff;
        padding: 0 9px;
        border-radius: 2px;
        top: -8px;
        left: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
      }
      .form-control {
        background-color: rgba(#647583, 7%);
        height: 51px;
        // width: 255px;
        border: 0;
        // border: 1px solid rgba(#647583, 7%);
        border-radius: 0;
        transition: all 0.5s ease;
        &::placeholder {
          font-size: 14px;
          color: rgba(#002543, 29%);
        }
        &:focus {
          outline: none !important;
          border: 1px solid #647583;
          background-color: #fff;
        }
      }
    }
    .nice-select {
      width: 100%;
      float: none;
      height: 51px;
      line-height: 51px;
      background-color: rgba(#647583, 7%);
      border: 0;
      font-size: 14px;
      color: rgba(#002543, 29%);
      .list {
        width: 100%;
      }
    }
    textarea {
      height: 135px !important;
      resize: none;
    }
  }
  .sheepPeersImg {
    // position: absolute;
    overflow-x: hidden;
    margin-top: -80px;
    // margin-left: 10px;
    img {
      width: 625px;
      max-width: 100%;
      margin-top: -80px;
      margin-left: 50px;
    }
  }
  .input-group {
    // background-color: rgba(#647583, 7%);
    height: 51px;
    // width: 255px;
    // border: 0;
    input {
      &:focus {
        outline: 0 !important;
        box-shadow: none !important;
      }
    }
    .input-group-append {
      // background-color: rgba(#647583, 7%) !important;
      // border: 1px solid #000;
      // border: 0;
    }
    .input-group-text {
      // background-color: rgba(#647583, 7%);
      background-color: rgba(#647583, 7%);
      border: 0;
    }
    label {
      height: 51px;
      top: 0 !important;
      left: 0 !important;
      font-size: 14px !important;
      color: rgba(#002543, 29%) !important;
      background-color: rgba(#647583, 7%) !important;
      border: 0;
      visibility: visible !important;
      opacity: 1 !important;
      margin-bottom: 0 !important;
      line-height: 51px;
    }
    .custom-file-label::after {
      display: none;
    }
    .custom-file-input {
      height: 51px;
    }
    .custom-file-input:focus ~ .custom-file-label {
      outline: 0 !important;
      box-shadow: none !important;
    }
    .custom-file {
      height: 51px;
    }
    .deleteFile {
      color: red;
      margin-right: 5px;
      cursor: pointer;
      position: relative;
      z-index: 9;
      height: 51px;
      line-height: 53px;
      margin-top: 3px;
      opacity: 0;
      visibility: hidden;
      i {
        cursor: pointer;
        margin-bottom: 0;
      }
    }
  }
  .btn-submit {
    margin-top: 26px;
    text-align: center;
    button {
      background-color: #e5206e;
      color: #fff;
      font-size: 14px;
      padding: 0 10px;
      width: 143px;
      height: 44px;
      line-height: 44px;
      display: inline-block;
      border: 0;
      border: 2px solid #e5206e;
      &:hover {
        background-color: #fff;
        color: #e5206e;
      }
    }
  }
}

.findPlastic {
  .shareBreadCrumb {
    h5 {
      margin-top: 10px;
      font-size: 52px;
    }
  }
}

.contact-us-page {
  .map {
    iframe {
      width: 100%;
      height: 505px;
      filter: grayscale(1);
    }
  }
  .contact-form-img {
    margin-top: -150px;
    background-color: #fff;
    box-shadow: 0 3px 32px rgba(#000000, 16%);
    padding: 62px 65px;
    position: relative;
    z-index: 9;
    .sheepPeersForm {
      padding-left: 0;
      .contactForm {
        h5 {
          font-size: 28px;
          font-weight: bold;
          margin: 0;
          margin-bottom: 16px;
          color: #e5206e;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          color: rgba(#002543, 50%);
          line-height: 25px;
          margin: 0;
          margin-bottom: 31px;
        }
      }
      .form-group {
        label {
          background-color: #e5206e;
        }
        .form-control {
          background-color: rgba(#e5206e, 7%);
          &::placeholder {
            color: rgba(#680d31, 38%);
          }
          &:focus {
            border: 1px solid #e5206e;
            background-color: #fff;
          }
        }
      }
      textarea {
        height: 111px !important;
      }
      .btn-submit {
        button {
          background-color: $mainColor;
          border: 1px solid $mainColor;
          width: 169px;
          text-align: center;
          height: 44px;
          line-height: 44px;
          @extend %transition;
          .navLink {
            color: #fff;
            display: block;
          }
          i {
            width: 30px;
            height: 30px;
            background-color: #fff;
            color: $mainColor;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            @extend %transition;
          }
          &:hover {
            background-color: #fff;
            .navLink {
              color: $mainColor;
            }
            i {
              background-color: $mainColor;
              color: #fff;
            }
          }
        }
      }
    }
    .card-img {
      position: relative;
      .overlay {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, 63%);
      }
    }
  }
}

.case-conclusion-page {
  .consultation-card {
    background-color: #fff;
    width: 730px;
    margin: auto;
    max-width: 100%;
    padding: 55px 95px;
    box-shadow: 0 3px 24px rgba(#000000, 16%);
    margin-top: -100px;
    position: relative;
    z-index: 9;
    p {
      font-size: 14px;
      color: rgba(#002543, 50%);
      line-height: 27px;
      margin-bottom: 44px;
      text-align: center;
    }
    textarea {
      height: 284px;
      background-color: rgba(#647583, 7%);
      border: 0;
      padding-top: 13px;
      border-radius: 0;
      resize: none;
      &::placeholder {
        font-size: 14px;
        color: rgba(#002543, 29%);
      }
    }
    .btn-submit {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 30px;
      button {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        // width: 169px;
        text-align: center;
        height: 44px;
        line-height: 44px;
        @extend %transition;
        color: #fff;
        i {
          width: 30px;
          height: 30px;
          background-color: #fff;
          color: $mainColor;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          @extend %transition;
        }
        &:hover {
          background-color: #fff;
          color: $mainColor;
          i {
            background-color: $mainColor;
            color: #fff;
          }
        }
      }
    }
  }
}

.drop-zone {
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 1px dashed #d4d9dc;
  border-radius: 10px;
  background-color: #f3f4f5;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__prompt {
  font-size: 14px;
  color: #002543;
  i {
    color: #002543;
    font-size: 20px;
  }
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.aboutImgPage {
  .about-img {
    margin-top: 61px;
    margin-bottom: 101px;
  }
  .societyToday {
    .section-header {
      margin-bottom: 37px;
      h5 {
        font-size: 18px;
        color: #e5206e;
        font-weight: 600;
      }
    }
  }
  .aroundClock {
    h5 {
      font-size: 28px;
      font-weight: bold;
      color: #002543;
      margin: 0;
    }
    .date {
      font-size: 28px;
      font-weight: bold;
      color: #002543;
      margin: 0;
    }
    .around-ul {
      margin-top: 28px;
      padding-left: 100px;
      li {
        position: relative;
        padding-left: 90px;
        margin-bottom: 50px;
        p {
          font-size: 14px;
          line-height: 25px;
          color: #0a0b0a;
          margin: 0;
        }
        .number {
          font-size: 52px;
          color: #e5206e;
          font-weight: bold;
          position: absolute;
          left: 0;
          top: -15px;
        }
      }
    }
  }
  .around-img {
    // margin-top: 30px;
    img {
      max-height: 612px;
    }
  }

  .around-2 {
    background-color: #f7f9fb;
    margin-top: 127px;
    padding-top: 30px;
    padding-bottom: 90px;
    .around-img {
      margin-top: -50px;
    }
    .aroundClock {
      .around-ul {
        padding-left: 0;
        ul {
          margin-top: 30px;
          padding: 0;
          li {
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
          }
        }
      }
    }
  }
  .why-join {
    margin-top: 0;
    // padding-top: 58px;
    .section-header {
      margin-top: 0;
      top: 115px;
    }
    .slag {
      margin-top: 32px;
    }
  }
  .our-team {
    margin-top: 78px;
    .section-header {
      text-align: center;
      margin-bottom: 110px;
      h5 {
        font-size: 18px;
        font-weight: bold;
        color: #e5206e;
        margin: 0;
        margin-bottom: 18px;
      }
      p {
        color: #002543;
        margin: 0;
        font-weight: bold;
        font-size: 28px;
        width: 570px;
        margin: auto;
        max-width: 100%;
      }
    }
    .our-team-slider {
      .slider-item {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .slick-arrow {
        top: 100%;
        &::before {
          position: absolute;
          color: #000;
        }
      }
      .slick-prev {
        left: 45%;
        &::before {
          // left: 47%;
          content: "\f060";
          @extend %init-font-awesome;
          font-weight: 900;
          line-height: 37px;
          color: $mainColor;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          border: 1px solid #e5206e;
        }
      }
      .slick-next {
        right: 46%;
        &::before {
          // right: 47%;
          content: "\f061";
          @extend %init-font-awesome;
          font-weight: 900;
          color: $mainColor;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          border: 1px solid #e5206e;
          line-height: 37px;
        }
      }
    }
  }
}

.team-card {
  box-shadow: 2px 5px 15px rgba(#000000, 16%);
  // width: 255px;
  height: 344px;
  position: relative;
  .card-img {
    height: 294px;
    margin-top: -53px;
    position: absolute;
    width: 230px;
    border-radius: 0;
    @extend %img-bg-style;
  }
  .card-body {
    padding-right: 10px;
    padding-left: 21px;
    // margin-top: 500px;
    position: absolute;
    bottom: -10px;
    .card-title {
      font-weight: bold;
      font-size: 20px;
      margin: 0;
      // margin-top: 19px;
    }
    .card-text {
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 25px;
      color: rgba(#002543, 50%);
    }
  }
}

.memberShip {
  .memberShip-form {
    background-color: #ffff;
    box-shadow: 0 3px 24px rgba(#000000, 16%);
    margin-top: -100px;
    position: relative;
    z-index: 9;
    padding: 54px 53px;
    h5 {
      text-align: center;
      color: #002543;
      font-size: 14px;
      margin: 0;
      margin-bottom: 25px;
      span {
        font-weight: bold;
      }
    }
    label {
      position: absolute;
      background-color: #647583;
      font-size: 12px;
      color: #fff;
      padding: 0 9px;
      border-radius: 2px;
      top: -8px;
      left: 10px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease;
    }
    .form-group {
      position: relative;

      .form-control {
        background-color: rgba(#647583, 7%);
        height: 51px;
        padding-left: 19px;
        // width: 255px;
        border: 0;
        // border: 1px solid rgba(#647583, 7%);
        border-radius: 0;
        transition: all 0.5s ease;
        &::placeholder {
          font-size: 14px;
          color: rgba(#002543, 29%);
        }
        &:focus {
          outline: none !important;
          border: 1px solid #647583;
          background-color: #fff;
        }
      }
      textarea {
        height: 135px !important;
        resize: none;
      }
    }
    .allName {
      // background-color: rgba(#647583, 7%);
      .row {
        margin: 0;
        .col-lg,
        .col-lg-1 {
          padding: 0;
          position: relative;
        }
      }
      .allNameHeader {
        color: #002543;
        font-size: 14px;
        line-height: 51px;
        margin: 0;
        padding-left: 19px;
        padding-top: 0;
      }
      .form-control {
        // position: relative;
      }
      .slash {
        content: "";
        width: 1px;
        height: 16px;
        background-color: rgba(#707070, 40%);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .nice-select {
      width: 100%;
      float: none;
      height: 51px;
      line-height: 51px;
      padding: 0;
      background-color: rgba(#647583, 7%);
      border: 0;
      font-size: 14px;
      color: rgba(#002543, 29%);
      .list {
        width: 100%;
      }
    }
    .add-country {
      line-height: 51px;
      height: 51px;
      cursor: pointer;
      font-weight: 600;
      i {
        color: $mainColor;
        font-size: 12px;
      }
      span {
        color: $mainColor;
        font-size: 12px;
      }
    }
    .colHead {
      margin: 0;
      margin-top: 38px;
      font-size: 14px;
      color: #002543;
      margin-bottom: 18px;
    }
    .btn-submit {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 30px;
      button {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        // width: 169px;
        text-align: center;
        height: 45px;
        line-height: 45px;
        @extend %transition;
        color: #fff;
        i {
          width: 30px;
          height: 30px;
          background-color: #fff;
          color: $mainColor;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          @extend %transition;
        }
        &:hover {
          background-color: #fff;
          color: $mainColor;
          i {
            background-color: $mainColor;
            color: #fff;
          }
        }
      }
    }
    #repeater {
      position: relative;
      .repeater-add-btn {
        position: absolute;
        right: -100px;
        z-index: 9;
      }
      .remove-btn {
        font-size: 12px;
        color: $mainColor;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1200px) {
}

@media(max-width: 1199px){
  .mynavbar .nav-list .navItem {
    margin-left: 20px;
  }
  .pagination {
    width: 41%;
  }
  .sharePeers .shareBreadCrumb h5 {
    font-size: 62px;
  }
  .contact-us-page .contact-form-img .card-img {
    margin-top: 68px;
  }
  .card-feature {
    width: 100%;
    height: auto;
    min-height: 310px !important;
  }
  .aboutImgPage .our-team .our-team-slider .slick-next {
    right: 45%;
  }
  .aboutImgPage .our-team .our-team-slider .slick-prev {
    left: 45%;
  }
}

@media (max-width: 1024px) {
  .mynavbar .nav-list .navItem {
    margin-left: 20px;
  }
  .pagination {
    width: 41%;
  }
  .sharePeers .shareBreadCrumb h5 {
    font-size: 62px;
  }
  .contact-us-page .contact-form-img .card-img {
    margin-top: 68px;
  }
  .card-feature {
    width: 100%;
    height: auto;
    min-height: 310px !important;
  }
  .aboutImgPage .our-team .our-team-slider .slick-next {
    right: 45%;
  }
  .aboutImgPage .our-team .our-team-slider .slick-prev {
    left: 45%;
  }
}

@media (max-width: 991px) {
  .topheader {
    // display: none;
    .social,
    .lang {
      display: none;
    }
    .topheader-links {
      text-align: center;
      li {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .mynavbar {
    padding-bottom: 20px;
  }
  .mynavbar .nav-list {
    display: none;
  }
  .mynavbar {
    position: relative;
    .openSideMenue {
      display: block !important;
      float: right;
      position: absolute;
      text-align: right;
      top: 50%;
      right: 30px;
      transform: translate(0, -50%);
      margin-top: 10px;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 30px;
      line-height: 40px;
    }
  }
  .header-slider .slider-nav-con .item .slider-nav-content p {
    padding-left: 40px;
    font-size: 12px;
  }
  .why-join .section-header h5 {
    font-size: 85px;
  }
  .why-join .section-header {
    top: 150px;
  }
  .why-join h5 {
    margin-top: 50px;
  }
  .features {
    .card-left {
      .card-feature {
        float: none;
      }
    }
    .card-right {
      .card-feature {
        float: none;
      }
    }
  }
  .features::after {
    margin-top: -1px;
  }
  .our-numbers {
    .head-card {
      text-align: center;
    }
  }
  .news-card {
    margin-bottom: 50px;
  }

  .pagination {
    width: 100%;
  }
  .pagParent .pageNumber {
    top: 0;
    left: 0;
  }
  .pagParent .pageNumber-2 {
    left: unset;
    right: 0;
  }
  .sheepPeersFormImg .sheepPeersForm {
    // padding-left: 0 !important;
    padding-right: 15px;
    padding-left: 15px !important;
  }
  .sheepPeersFormImg .sheepPeersImg {
    margin-top: 20px !important;
  }
  .sheepPeersFormImg .sheepPeersImg {
    text-align: center;
    margin-top: 40px !important;
  }
  .sheepPeersFormImg .sheepPeersImg img {
    margin-left: 0;
    margin-top: 0;
  }
  .memberShip .memberShip-form #repeater .repeater-add-btn {
    position: absolute;
    right: unset;
    left: 16px;
    bottom: -32px;
    z-index: 9;
  }
}

@media (max-width: 960px) {
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Mobile & Tablets */
@media (max-width: 767px) {
}

/* Tablets */
@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
  .sidenav {
    .lang,
    .social {
      text-align: right;
    }
    .social {
      a {
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
  .header-slider {
    .slider-item {
      padding-bottom: 150px;
    }
  }
  .slider-nav-con {
    .slider-nav-content {
      text-align: center;
      .slider-number {
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
      }
      .card-body {
        display: none;
      }
    }
  }
  .header-slider .slider-item .header-content p {
    width: 100%;
  }
  .overview .over-content-2 {
    margin-top: 5px;
  }
  .header-slider .slider-nav-con {
    bottom: 30px;
  }
  .why-join p {
    width: 100%;
  }
  .why-join .section-header h5 {
    font-size: 65px;
  }
  .why-join .section-header {
    top: 195px;
  }
  .why-join {
    margin-top: 150px;
  }
  .card-feature {
    width: 100%;
    height: auto;
    min-height: 310px !important;
  }
  .card-feature .number {
    left: 52px;
  }
  .webinars .section-header p {
    font-size: 23px;
  }
  .webinars {
    .slider-item {
      margin-right: 5px;
      margin-left: 5px;
      .webinars-card {
        box-shadow: 0 3px 8px rgb(0 0 0 / 16%);
      }
    }
  }

  .latest-news .section-header p {
    font-size: 23px;
  }
  .pagParent .pageNumber {
    font-size: 100px;
    margin-top: 40px;
  }
  .newsDetails-page .newsDetails-content .news-title {
    font-size: 24px;
    line-height: 32px;
  }
  .sharePeers .shareBreadCrumb h5 {
    font-size: 55px;
  }

  .findPlastic .shareBreadCrumb h5 {
    font-size: 41px;
  }
  .contact-us-page .contact-form-img {
    padding: 62px 15px;
  }
  .case-conclusion-page .consultation-card {
    padding: 55px 20px;
  }
  .aboutImgPage .aroundClock .around-ul {
    padding-left: 0;
  }
  .aboutImgPage .our-team .our-team-slider .slick-next {
    right: 0;
    &::before {
      right: 0;
    }
  }
  .aboutImgPage .our-team .our-team-slider .slick-prev {
    left: 0;
    &::before {
      left: 0;
    }
  }
  .memberShip .memberShip-form {
    padding: 54px 23px;
  }
}

@media (max-width: 376px) {
  .header-slider .slider-nav-con {
    .slick-list {
      padding: 0 !important;
    }
  }
  .card-feature .number {
    left: 35px;
  }
  .card-feature:before {
    width: 186px;
  }
  .mostv-card {
    padding-left: 0;
    .card-img {
      position: unset;
      margin-bottom: 10px;
    }
  }
  .webinars-card {
    // font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .webinars-card ul li {
    font-size: 13px;
  }
  .aboutImgPage .aroundClock .around-ul li {
    padding-left: 0;
  }
  .aboutImgPage .aroundClock .around-ul li .number {
    position: unset;
  }
}

@media (max-width: 321px) {
  .why-join .section-header h5 {
    font-size: 55px;
  }
  .webinars-card {
    padding-right: 15px;
    padding-left: 15px;
  }
  .webinars-card .card-title {
    font-size: 20px;
  }
  #floating {
    width: 45px;
    height: 45px;
    line-height: 50px;
    i {
      font-size: 18px;
    }
  }
  .sharePeers .shareBreadCrumb h5 {
    font-size: 45px;
  }
  .findPlastic .shareBreadCrumb h5 {
    font-size: 31px;
  }
}

.activeInput {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(2px);
}

%inilize-ui-icons {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%img-bg-style {
  -webkit-background-size: cover;
  -webkit-background-position: center;
  -moz-background-position: center;
  -moz-background-size: cover;
  background-position: center;
  background-size: cover;
}

%img-bg-after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

%link-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%init-font-awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

%line-after-secton-header {
  content: "";
  position: absolute;
  background-color: #25a1a5;
  border-radius: 10px;
  width: 41px;
  height: 5px;
  bottom: 0;
  left: 0;
}
